body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: white;
}

.app {
  padding: 30px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.form-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.form-container input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: 200px;
  font-size: 16px;
}

.form-container button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:hover {
  opacity: 0.9;
}

.transactions-container {
  max-width: 700px;
  margin: auto;
}

.transaction-card {
  display:flex;
  justify-content:space-between;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 9px;
  height:90px;
  flex-direction: column;
  max-width:200px;
}

.transaction-card h3 {
  margin: 0;
}

.transaction-card p {
  font-size: 20px;
  margin: 10px 0;
}

.transaction-card span {
  display:flex;
  justify-content: space-between;
  background-color: #1e1e1e;
  margin: 10px 0;
  
}


.transaction-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.delete-button {
  background-color: #ef4444;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.delete-button:hover {
  opacity: 0.9;
}

.analytics-section {
  margin-bottom: 40px;
}

.analytics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.analytics-card {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
}

.analytics-card h3 {
  margin: 0;
  margin-bottom: 10px;
}

.analytics-card p {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.chart-section {
  margin-bottom: 40px;
}

.chart-container {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 16px;
  height: 400px;
}